<div class="card">
    <div class="card-header">@Caregiver.FirstName @Caregiver.LastName</div>
    <div class="card-body">
        <img src="@imgsrc" class="search-image">
        <h3>@Caregiver.AddressCity</h3>
        <h5>Distance: 50m</h5>
        <p>@Caregiver.Email</p>
        <button class="nav-link button" href="/caregiverdetails/@Caregiver.UserId">View</button>
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    public string imgsrc = "images/blank.png";
    [Parameter]
    public User Caregiver { get; set; }
}