//receives an object called "Caregiver"
<div class="card">
    <div class="card-header">@Caregiver.Name</div>
    <div class="card-body">
        <img url="@Caregiver.ImageURL" class="search-image">
        <h3>@Caregiver.FirstName @Caregiver.LastName</h3>
        <h5>Distance: @Caregiver.Distance</h5>
        <p>@Caregiver.Description[0,21]</p>
        <button class="nav-link" href="/caregiverdetails/@Caregiver.Id">View</button>
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public Caregiver Caregiver { get; set; }
}