<div class="card">
    <div class="card-header">@Caregiver.FirstName @Caregiver.LastName</div>
    <div class="card-body">
        @{imgsrc = "images/" + @Caregiver.FirstName + ".png";}
        <img src="@imgsrc" class="search-image">
        <br>
        <h6>Lives in:</h6>
        <h4>@Caregiver.AddressCity</h4>
        <p>@Caregiver.Email</p>
        <button class="nav-link button" href="/caregiverdetails/@Caregiver.UserId">View</button>
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    public string imgsrc {get;set;} = "";
    
    [Parameter]
    public User? Caregiver { get; set; }

}